.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-center-verticle {
    align-items: center;
 }

 .flex-center-horizontal {
    justify-content: center;
 }

.flex {
    flex: 1;
}