<div class="planning-card" (click)="onCardCliked()">
  <div class="priority" [ngClass]="getItemPriority()"></div>

  <div class="content">

    <div class="item-details">
      <div class="title">{{ item.title }}</div>
      <div class="status-type-container">
        <div class="status" *ngIf="item.status">{{ item.status }}</div>
        <div class="type">
          <i class="material-icons">{{ getItemType() }}</i>
        </div>
      </div>
    </div>

    <div class="progress" *ngIf="item.progress">
      <div class="bar">
        <div class="complete"></div>
        <div class="incomplete"></div>
      </div>
      <div class="remaining-day">4 day(s) remaining</div>
    </div>

    <div class="profile" *ngIf="item.storySize">
      <img  class="user-picture" [src]="item.ownerPicUrl">
      <div class="story-size">{{ item.storySize }}</div>
    </div>

  </div>
</div>