<div class="board-wrapper flex-row">
	<div class="board-container flex-1">
		<div class="board-header">
			<div class="board-title flex-1">
				Board title will appear here.
			</div>

			<div class="board-action-button-container">
				<i class="mdi mdi-fullscreen"></i>
				<i class="mdi mdi-settings" routerLink="settings"></i>
			</div>
		</div>
		<div class="flex-row">
			<div *ngFor="let column of mockColumns" class="column flex-1" pDroppable="item-card" (onDrop)="drop($event)">
				<div>{{column.title}}</div>
				<div *ngFor="let card of column.cards" class="card" pDraggable="item-card" (onDragStart)="dragStart($event, card)" (onDragEnd)="dragEnd($event)">
					<div class="flex-row">
						<div class="flex-1">
							<div class="card-title">{{card.title}}</div>
							<div class="badge">{{card.storySize}}</div>
						</div>
						<img [src]="card.avatarUrl" height="50" width="50" class="card-avatar">
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="details-panel">
		Create mock data for backend 
		<div class="avatar-position">
			<img [src]="hero" height="30" width="30" class="card-avatar">
		</div>
		<br>
		<div>
			<div style='font-weight:bold'>Description</div>
			I should able to create the data by now. Please do not crash. Going to watch BAD GENIUS.
		</div>
		<br>
		<div>
			<div style="font-weight: bold">Details</div>
			<div>Status
				<div class="status-label white">To Do</div>
			</div>
			<div>Priority
				<span class="priority-label"><i class="fa fa-arrow-up" style="color:red; " aria-hidden="true"></i>High</span>
					</div>
			<div>Task
				<div class="status-label yellow">0/2</div>
			</div>
		</div>
	</div>
</div>

