<div class="board-wrapper flex-row">
	<div class="board-container flex-1">
		<div class="board-header">
			<div class="board-title flex-1">
				Board title will appear here.
			</div>

			<div class="board-action-button-container">
				<i class="mdi mdi-fullscreen"></i>
				<i class="mdi mdi-settings" routerLink="settings"></i>
			</div>
		</div>
		<div class="flex-row">
				<div>{{column.title}}</div>
					<div class="flex-row">
						<div class="flex-1">
							<div class="card-title">{{card.title}}</div>
							<div class="badge">{{card.storySize}}</div>
						</div>
						<img [src]="card.avatarUrl" height="50" width="50" class="card-avatar">
					</div>	
				</div>
			</div>
		</div>
	</div>
	<div class="details-panel">
		Story details will appear here.
	</div>
</div>

