@import '../../stylings/partial-classes/flex-box';
@import '../../stylings/variables/main';

.board-container {
	padding: 10px 15px;
}

.details-panel  {
	width: 250px;
	padding: 10px 15px;
	height: 100%;
	border: 1px solid rgba(0,0,0, .4);
}

.column {
	box-shadow: 0 1px 5px rgba(0,0,0,.4); 
	padding: 10px 15px;
	min-height: 150px;
	margin: 10px 20px;
	border-radius: 3px;
	background-color: #fafbfc;
}

.card {
	box-shadow: 0 0 3px rgba(0,0,0,.4); 
	padding: 10px 15px;
	margin: 15px 10px;
}

.badge {
	background-color: #D2D2D2;
	font-size: 12px;
	border-radius: 100%;
	display: inline-block;
	padding: 4px 5px;
	text-align: center;
	vertical-align: middle;
	width: 15px;
}