<div class="board-wrapper flex-row">
	<div class="board-container flex-1">
		<div class="board-header">
			<div class="board-title flex-1">
				Board title will appear here.
			</div>

			<div class="board-action-button-container">
				<i class="mdi mdi-fullscreen"></i>
				<i class="mdi mdi-settings" routerLink="settings"></i>
			</div>
		</div>
		<div class="flex-row">
			<div *ngFor="let column of mockColumns" class="column flex-1" pDroppable="item-card" 
				(onDrop)="drop($event)">
				<div>{{column.title}}</div>
				<div class="cards-wrapper" [dragula]="'board-card-bag'" [dragulaModel]="column.cards">
					<div *ngFor="let card of column.cards" class="card" pDraggable="item-card" (onDragStart)="dragStart($event, card)" (onDragEnd)="dragEnd($event)">
						<div class="flex-row">
							<div class="flex-1">
								<div class="card-title">{{card.title}}</div>
								<div class="badge">{{card.storySize}}</div>
							</div>
							<img [src]="card.avatarUrl" height="50" width="50" class="card-avatar">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="story-details-panel">
		<app-story-details></app-story-details>
	</div>
</div>

