// partial styles
// @import './stylings/partial-classes/flex-box';

// app theme variables
@import './stylings/variables/color-theme';
@import './stylings/variables/shadow';
@import './stylings/variables/font';
@import './stylings/variables/main';
@import './stylings/variables/resolution';

// mixins
@import './stylings/mixins/respond';
@import './stylings/mixins/flex';
@import './stylings/mixins/flex-child';

// component variables
$content-bg-color: #e2e1e0;

.app-body {
    @include flex(column);

    height: 100vh;
    width: 100vw;
    position: absolute;

    .app-toolbar {
        @include flex(row) {
            align-items: center;
        }

        padding: 0 20px;
        height: $toolbar-height;
        background: $primary-color-deep;
        color: $color-white;

        .app-icon-container {
            @include flex(row);
            @include respond(600px) {
                display: none;
            }

            .app-title {
                font-size: 30px;
                font-weight: 700;
                padding: 0 15px;
            }
        }

        .nav-tabs {
            @include flex(row);
            @include flex-child(1);
            @include respond(550px) {
                margin: 0 20px;
                font-size: 14px;
            }

            max-width: 400px;
            margin: 0 50px;
            height: 100%;

            .tab {
                @include flex-child(1);
                @include flex(row) {
                    align-items: center;
                    justify-content: center;
                }

                &.active {
                    background-color: $selected-primary;
                    color: #4b4b4b;
                    // font-weight: $font-weight-bold
                }
                &:hover {
                    background-color: $hover-primary;
                }

                height: 100%;
                // margin: 0 10px;
                padding: 0 10px;
                cursor: pointer;
                text-align: center;
                outline: none;
                padding: 0 10px;
            }
        }

        .user-profile {
            @extend .respondsive;
            @include flex(row) {
                align-items: center;
            }

            .user-picture-frame {
                 @include flex(row) {
                    align-items: center;
                    justify-content: center;
                }

                width: 35px;
                height: 35px;
                border-radius: 50%;
                margin: 0 10px 0 0;
                background-color: #fff;
                box-shadow: $shadow-user-profile;

                .user-picture {
                    width: 30px;
                    height: 30px;
                    border-radius: 50%;
                }
            }

            .user-name {
                font-weight: $font-weight-medium;
                cursor: default;
            }
        }
    }

    .app-content {
        @include flex-child(1);
        @include respond($screen-small) {
             max-height: calc(100% - #{$toolbar-height});
        }

        background: $content-bg-color;
        max-height: calc(100% - #{$toolbar-height} - #{$footer-height});
    }

    .app-footer {
        @include respond($screen-small) {
            display: none;
        }

        width: 100%;
        height: $footer-height;
        background-color: $primary-color-deep;
    }

    .separator {
        @include flex-child(1);
    }

    .respondsive {
        @include respond(450px) {
            display: none;
        }
    }
}