<div class="app-body">

  <div class="app-toolbar" [ngClass]="getThemeClassName()">
    <div class="app-icon-container">
      <img class="app-icon" [src]="appIcon.url" [width]="appIcon.width" [height]="appIcon.height">
      <div class="app-title">Swift</div>
    </div>

    <div class="nav-tabs">
      <div class="tab" *ngFor="let tab of navTabModel" (click)="switchTab(tab.route)" [ngClass]="[getActiveTab(tab.route), getThemeClassName()]"
        routerLink="{{ tab.route }}" routerLinkActive="active">{{ tab.title }}</div>
    </div>

    <div class="separator"></div>

    <div class="user-profile">
      <div class="user-picture-frame" (click)="changeColorTheme()">
        <img class="user-picture" [src]="userProfile.defaultPicUrl">
      </div>
      <div class="user-name">{{ userProfile.name }}</div>
    </div>

    <div class="settings">
      <i class="material-icons icon" (click)="toggleSideNav(true)">settings</i>
    </div>
  </div>

  <div class="app-content">
    <div class="app-side-nav" *ngIf="isShowSideNav">
      <project-side-nav (onToggleDisplay)="toggleSideNav($event)"></project-side-nav>
    </div>

    <div class="app-outlet">
      <router-outlet></router-outlet>
    </div>

  </div>

  <div class="app-footer" [ngClass]="getThemeClassName()"></div>
</div>