<div class="app-body">

  <div class="app-toolbar">
    <div class="app-icon-container">
      <img class="app-icon" [src]="appIcon.url" [width]="appIcon.width" [height]="appIcon.height">
      <div class="app-title">Swift</div>
    </div>
    
    <div class="nav-tabs">
      <div class="tab" *ngFor="let tab of navTabModel" (click)="switchTab(tab.route)" [ngClass]="getActiveTab(tab.route)" routerLink="{{ tab.route }}">{{ tab.title }}</div>
    </div>

    <div class="separator"></div>

    <div class="user-profile">
      <div class="user-picture-frame">
         <img class="user-picture" [src]="userProfile.defaultPicUrl">
      </div>
      <div class="user-name">{{ userProfile.name }}</div>
    </div>
  </div>

  <div class="app-content">

    <router-outlet></router-outlet>

  </div>

  <div class="app-footer"></div>
</div>