<div class="container">
	<div class="user-profile-title">Edit Profile</div>

	<form class="user-profile-content flex-row">
		<div class="flex-column">
			<div class="flex-row">
				<md-form-field class="first-name-input-wrapper">
					<input mdInput placeholder="First Name" value="">
				</md-form-field>
				<md-form-field class="last-name-input-wrapper">
					<input mdInput placeholder="Last Name" value="">
				</md-form-field>
			</div>

			<div class="flex-row">
				<md-select placeholder="Gender" class="gender-input-wrapper">
					<md-option *ngFor="let genderOption of genderOptions" [value]="genderOption.value">
						{{ genderOption.viewValue }}
					</md-option>
				</md-select>

				<md-form-field class="birthday-input-wrapper">
					<input mdInput [mdDatepicker]="picker" placeholder="Choose a date for birthday">
					<md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
					<md-datepicker #picker></md-datepicker>
				</md-form-field>
			</div>

			<div class="flex-row">
				<md-form-field class="">
					<input mdInput placeholder="Email" value="">
				</md-form-field>
			</div>

			<div class="flex-row">
				<md-form-field class="">
					<input mdInput placeholder="Company" value="">
				</md-form-field>
			</div>
		</div>

		<div class="profile-pic-container flex-column">
			<div class="avatar-wrapper"><img src="assets/myAvatar.png" class="profile-pic"></div>
			<button md-raised-button color="primary">CHANGE PROFILE PICTURE</button>
		</div>
		
	</form>
</div>
