.login-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.login-main-container {
	text-align: center;
	vertical-align: middle;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-left: auto;
	margin-right: auto;
	width: 70vw;
	max-width: 700px;
	background-color:  #43464B;
	padding: 20px 0;
}

.medium-logo {
	width: 38px;
	height: 69px;
}

.brand {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

.brand-logo-container,
.brand-text-container {

}

.brand-text-container {
	position: relative;
	font-size: 40px;
	font-weight: 700;
	padding: 12px 10px;
	color: #fff;
}

.main-content {
	color: #fff;
	padding: 20px 40px;
	text-align: initial;
}

.description {
	margin-bottom: 20px;
}

.google-login-button-wrapper {
	width: 400px;
	margin-left: auto;
	margin-right: auto;
}