<div class="login-main-container">
	<div class="brand">
		<div class="brand-logo-container"><img class="medium-logo" src="assets/app-logo/orange-logo.png"></div>
		<div class="brand-text-container"><span class="brand-text">S W I F T</span></div>
	</div>
	<div class="main-content">
		<div>PLEASE SIGN IN TO CONTINUE</div>
		<google-signin [clientId]="myClientId" [width]="myWidth" [theme]="myTheme" [scope]="myScope" [longTitle]="myLongTitle" (googleSignInSuccess)="onGoogleSignInSuccess($event)">
		</google-signin>
	</div>
</div>