// Shared scss for the app main theme colors
// $primary-color: #9C27B0;
// $primary-color-deep: #6A1B9A;
// $secondary-color: #FFFF00;

$primary-color: #50483f;
$primary-color-deep: #3c3732;
$secondary-color: #ECB622;

$selected-primary: #e07e3d;

$hover-primary: rgba(239,168 ,121, 0.4);

