// shared variables for the app components

// font colors start
$color-white: #fff;
$color-white-secondary: rgba(255, 255, 255, 0.5);
$color-black: #000;
$color-black-secondary: rgba(0, 0, 0, 0.5);
$color-disabled: rgba(0,0,0, 0.38);
$color-warning: #D50000;
//font color end

// font sizes start
$font-standard-size: 14px;
$font-subtitle-size: 16px;
$font-title-size: 20px;
// font sizes end

// font weight start
$font-weight-bold: 700;
$font-weight-medium: 600;
// font weight end