<div>
  Create mock data for backend 
  <div class="avatar-position">
    <img [src]="hero" height="30" width="30" class="card-avatar">
  </div>
  <br>
  <div>
    <div style='font-weight:bold'>Description</div>
    I should able to create the data by now. Please do not crash. Going to watch BAD GENIUS.
  </div>
  <br>
  <div>
    <div style="font-weight: bold">Details</div>
    <div>Status
      <div class="status-label white">To Do</div>
    </div>
    <div>Priority
      <span class="priority-label"><i class="fa fa-arrow-up" style="color:red; " aria-hidden="true"></i>High</span>
        </div>
    <div>Task
      <div class="status-label yellow">0/2</div>
    </div>
  </div>
</div>