<div class="planning">
  <div class="main-container">
    <div class="tool-bar" [ngClass]="getThemeClassName()">
      <div class="quick-search">
        <span class="title">Quick Search : </span>
        <input type="text" class="app-input" placeholder="search here..." ([value])="quickSearchText" #quickSearch>
        <i class="material-icons">search</i>
      </div>

      <div class="separator"></div>

      <button pButton type="button" icon="fa-plus" label="Add Sprint" (click)="displayAddSprintDialog()"></button>

    </div>

    <div class="content">
      <div class="section" *ngFor="let sprint of sprints; let i = index">
        <div class="top" [ngClass]="{'isExpand': !sprint.isCollapsed}" >

          <div class="toggle-container" [ngClass]="{'isExpand': !backlog.isCollapsed}" (click)="toggleSectionCollapse(sprint)">
            <i class="material-icons toggle-icon">{{ getSectionCollapseStatus(sprint.isCollapsed) }}</i>
          </div>

          <div class="details">
            <span>{{ sprint.name }}</span>
            <span>{{ sprint.endDate }}</span>
          </div>

          <div class="status">
            <i class="material-icons running-sprint-icon" *ngIf="sprint.isOnGoing">directions_running</i>
          </div>

          <div class="button-container">
            <button class="header-button" *ngFor="let sprintBtn of (planningButtonsModel | buttonFilter: 'sprint': sprint)" pButton type="button"
              [icon]="sprintBtn.icon" [label]="sprintBtn.label" (click)="sprintBtn.command(sprint.id)"></button>
            <p-splitButton class="header-menu-button" label="Add Item" icon="fa-plus" append-to="body" (click)="displayAddItemDialog(sprint.id)"
              [model]="getSectionMenuButtonModel('sprint')"></p-splitButton>
          </div>

        </div>
        <div class="cards-container" *ngIf="!sprint.isCollapsed" pDroppable="cards" [dragula]="'sprint-bag'">
          <app-planning-card *ngFor="let item of sprint.items" [item]="item" (onClicked)="onCardClicked($event)" pDraggable="cards"
            dragHandle=".user-picture" (onDragStart)="onCardDragStart($event)"></app-planning-card>
        </div>
      </div>

      <div class="section">
        <div class="top" [ngClass]="{'isExpand': !backlog.isCollapsed}">
          <div class="toggle-container" [ngClass]="{'isExpand': !backlog.isCollapsed}" (click)="toggleSectionCollapse(backlog)">
            <i class="material-icons toggle-icon">{{ getSectionCollapseStatus(backlog.isCollapsed) }}</i>
          </div>
          <div class="details">
              <span>Backlog</span>
          </div>
          <div class="status"></div>
          <div class="button-container">
            <button class="header-button" pButton type="button" icon="fa-plus" label="Add Item" (click)="displayAddItemDialog(-1)"></button>
          </div>
        </div>
        <div class="cards-container" *ngIf="!backlog.isCollapsed" pDroppable="cards" [dragula]="'sprint-bag'">
          <app-planning-card *ngFor="let item of backlog.items" [item]="item" (onClicked)="onCardClicked($event)" pDraggable="cards" dragHandle=".user-picture"></app-planning-card>
        </div>
      </div>
    </div>
  </div>

  <div class="side-container">
    Story details will appear here.
  </div>
</div>

<add-item-dialog [display]="dialogsStatus.addItem" [sprintId]="activeSprintId" (onDialogStatusChange)="onAddItemDialogStatusChange($event)"></add-item-dialog>