@import '../../stylings/partial-classes/theme';
@import '../../stylings/partial-classes/input-box';

@import '../../stylings/mixins/flex-container';
@import '../../stylings/mixins/flex-child';
@import '../../stylings/mixins/respond';

@import '../../stylings/variables/shadow';
@import '../../stylings/variables/color-theme';
@import '../../stylings/variables/font';
@import '../../stylings/variables/main';
@import '../../stylings/variables/resolution';

$tool-bar-bg: $dark-primary-color;
$tool-bar-font-color: $color-white;
$tool-bar-font-weight: $font-weight-medium;
$header-bg-color: #fff;

app-planning {
    width: 100%;
}

.planning {
    @include flex-container(row);

    width: 100%;
    height: 100%;

    .main-container {
        @include flex-container(column); 
        @include flex-child(5);
        
        overflow-x: auto;

        .tool-bar {
            @include flex-container(row) {
                align-items: center;
            };
            @extend .primary;
    
            height: 40px;
            box-shadow: $shadow-light;
            padding: 0 20px;
            z-index: 2; // for shadow

    
            .quick-search {
                @include flex-container(row) {
                    align-items: center;
                };
                
                .title {
                    @extend .cursor-default;
                    @include respond(450px + #{$side-container-width}) {
                        display: none;
                    }
    
                    color: $tool-bar-font-color;
                    font-weight: $tool-bar-font-weight;
                    margin: 0 10px 0 0;
                }
            }
        }
    
        .content {
            @include flex-child(1);
            @include flex-container(column);
    
            overflow-y: auto;
        }
    }
   
    .side-container {
        @include flex-child(1);
        min-width: $side-container-width;
        padding: 10px 15px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        box-shadow: inset $shadow-deep;
    }
}

// use in the entire component
.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.separator {
    @include flex-child(1);
}

.material-icons {
    @extend .icon
}

.icon {
    @extend .cursor-pointer;

    &:hover {
        font-size: 30px;
    }

    color: $tool-bar-font-color;
    margin: 0 10px;
}

.section {
    margin: 0 8px;

    .top {
        @extend .header;

        &.isExpand {
            box-shadow: $shadow-light;
            margin: 10px 0 8px 0;            
        }

        .toggle-container {
            @include flex-container(row) {
                align-items: center;
                justify-content: center;
            }

            &.isExpand {
                @extend .secondary;

            }

            width: 35px;
            height: 100%;

            .material-icons.toggle-icon {
                color: #000;
                width: 100%;
                margin: 0;
                text-align: center;
            }
        }

        .details {
            @include flex-container(column);

            padding: 8px;
            width: 100px;

            span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }
        }

        .status {
            width: 50px;

            .material-icons.running-sprint-icon {
                color: #000;
                cursor: default;
               
                &:hover {
                    font-size: 24px;
                }
            }
        }
    }

    .cards-container {
        @include flex-container(column);

        overflow-y: auto;
        max-height: 300px;
        margin: 10px 8px;
    
        app-planning-card {
            @include flex-child(1);
        }
    }
}

.header {
    @include flex-container(row) {
        align-items: center;
    };

    background-color: $header-bg-color;
    box-shadow: $shadow-flat;
    margin: 10px 0 0 0;

    .button-container {
        @include flex-container(row) {
            align-items: center;
        }

        .header-button {
            @include respond(#{$screen-small} + #{$side-container-width}) {
                display: none;
            }

            margin: 0 10px 0 0;
        }

        .header-menu-button {
            display: none;

            @include respond(#{$screen-small} + #{$side-container-width}) {
                display: block;
            }
        }
    }

    height: 45px;
}