<div class="planning">
  <div class="main-container">
    <div class="tool-bar" [ngClass]="getThemeClassName()">
      <div class="quick-search">
        <span class="title">Quick Search : </span>
        <input type="text" class="app-input" placeholder="search here..." ([value])="quickSearchText" #quickSearch>
        <i class="material-icons">search</i>
      </div>

      <div class="separator"></div>

      <div class="setting">
        <i class="material-icons">settings</i>
      </div>
    </div>

    <div class="content">
      <div class="sprint" *ngFor="let sprint of sprints">
        <div class="top">

          <div class="toggle-container" (click)="toggleSprintCollapse(sprint)">
            <i class="material-icons toggle-icon">{{ getSprintCollapseStatus(sprint.isCollapsed) }}</i>
          </div>

          <div class="sprint-details">
            <span class="sprint-name">{{ sprint.name }}</span>
            <span class="end-date">{{ sprint.endDate }}</span>
          </div>
          
          <i class="material-icons running-sprint-icon" *ngIf="sprint.isOngoing">directions_running</i>

          <div class="button-container">

          </div>

        </div>
        <div class="cards-container" *ngIf="!sprint.isCollapsed" pDroppable="cards">
          <app-planning-card *ngFor="let item of sprint.items" [item]="item" (onClicked)="onCardClicked($event)" pDraggable="cards" dragHandle=".user-picture" (onDragStart)="onCardDragStart($event)"></app-planning-card>
        </div>
      </div>

      <div class="backlog">
        <div class="top">
          <span>Backlog</span>
        </div>
        <div class="cards-container" pDroppable="cards">
          <app-planning-card *ngFor="let item of backlog" [item]="item" (onClicked)="onCardClicked($event)" pDraggable="cards"  dragHandle=".user-picture"></app-planning-card>
        </div>
      </div>
    </div>
  </div>
  <div class="side-container">
    Story details will appear here.
  </div>
</div>