@import '../../stylings/partial-classes/theme';
@import '../../stylings/partial-classes/input-box';

@import '../../stylings/mixins/flex-container';
@import '../../stylings/mixins/flex-child';
@import '../../stylings/mixins/respond';

@import '../../stylings/variables/shadow';
@import '../../stylings/variables/color-theme';
@import '../../stylings/variables/font';
@import '../../stylings/variables/main';

$tool-bar-bg: $dark-primary-color;
$tool-bar-font-color: $color-white;
$tool-bar-font-weight: $font-weight-medium;

app-planning {
    width: 100%;
}

.planning {
    @include flex-container(row);

    width: 100%;
    height: 100%;

    .main-container {
        @include flex-container(column); 
        @include flex-child(5);
        
        overflow-x: auto;

        .tool-bar {
            @include flex-container(row) {
                align-items: center;
            };
            @extend .primary;
    
            height: 40px;
            box-shadow: $shadow-light;
            padding: 0 20px;
            z-index: 2; // for shadow

    
            .quick-search {
                @include flex-container(row) {
                    align-items: center;
                };
                
                .title {
                    @extend .cursor-default;
                    @include respond(450px + #{$side-container-width}) {
                        display: none;
                    }
    
                    color: $tool-bar-font-color;
                    font-weight: $tool-bar-font-weight;
                    margin: 0 10px 0 0;
                }
            }
        }
    
        .content {
            @include flex-child(1);
            @include flex-container(column);
    
            overflow-y: auto;
    
            .backlog {
                @extend .section;
            }
    
            .sprint {
                @extend .section;
            }
        }
    }
   
    .side-container {
        @include flex-child(1);
        min-width: $side-container-width;
        padding: 10px 15px;
        border: 1px solid rgba(0, 0, 0, 0.4);
        box-shadow: inset $shadow-deep;
    }
}

// use in the entire component
.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.separator {
    @include flex-child(1);
}

.material-icons {
    @extend .icon
}

.icon {
    @extend .cursor-pointer;

    &:hover {
        font-size: 30px;
    }

    color: $tool-bar-font-color;
    margin: 0 10px;
}

.section {
    padding: 8px;

    .top {
        @extend .header;

        .toggle-container {
            width: 30px;
            text-align: center;

            .material-icons.toggle-icon {
                color: #000;
                width: 100%;
                margin: 0;
            }
        }

        .sprint-details {
            @include flex-container(column);

            padding: 8px;
        }

        i.material-icons.running-sprint-icon {
            color: #000;
            cursor: default;

            &:hover {
                font-size: 24px;
            }
        }
    }

    .cards-container {
        @include flex-container(column);

        overflow-y: auto;
        max-height: 300px;

        app-planning-card {
            @include flex-child(1);
        }
    }
}

.header {
    @include flex-container(row) {
        align-items: center;
    };

    .add-new {
        color: $dark-secondary-color;
    }

    height: 45px;
}