@import '../../stylings/partial-classes/theme';
@import '../../stylings/partial-classes/input-box';

@import '../../stylings/mixins/flex';
@import '../../stylings/mixins/flex-child';
@import '../../stylings/mixins/respond';

@import '../../stylings/variables/shadow';
@import '../../stylings/variables/color-theme';
@import '../../stylings/variables/font';

$tool-bar-bg: $dark-primary-color;
$tool-bar-font-color: $color-white;
$tool-bar-font-weight: $font-weight-medium;

app-planning {
    width: 100%;
}

.planning {
    @include flex(column);

    width: 100%;
    height: 100%;
   
    .tool-bar {
        @include flex(row) {
            align-items: center;
        };
        @extend .primary;

        height: 40px;
        box-shadow: $shadow-light;
        padding: 0 20px;
        background-color: $tool-bar-bg;

        .quick-search {
            @include flex(row) {
                align-items: center;
            };
            
            .title {
                @extend .cursor-default;
                @include respond(450px) {
                    display: none;
                }

                color: $tool-bar-font-color;
                font-weight: $tool-bar-font-weight;
                margin: 0 10px 0 0;
            }
        }
    }

    .content {
        @include flex-child(1);
        @include flex(column);

        overflow-y: auto;

        .backlog {
            @extend .section;
        }

        .sprint {
            @extend .section;
        }
    }
}

// use in the entire component
.cursor-pointer {
    cursor: pointer;
}

.cursor-default {
    cursor: default;
}

.separator {
    @include flex-child(1);
}

.material-icons {
    @extend .icon
}

.icon {
    @extend .cursor-pointer;

    &:hover {
        font-size: 30px;
    }

    color: $tool-bar-font-color;
    margin: 0 10px;
}

.section {
    @include flex-child(1);
    
    padding: 8px;
    min-height: 200px;
    margin: 0 0 10px 0;

    .top {
        @extend .header;

        .sprint-details {
            @include flex(column);

            padding: 8px;
        }
    }

    .cards-container {
        @include flex(column);

        overflow-y: auto;

        app-planning-card {
            @include flex-child(1);
        }
    }
}

.header {
    @include flex(row) {
        align-items: center;
    };

    .add-new {
        color: $dark-secondary-color;
    }

    height: 50px;
}