<div class="board-settings-wrapper">
	<div class="board-settings-title">Board Config</div>

	<p-tabView orientation="left">
		<p-tabPanel header="General" [selected]="true">
			<section>
				<h4 class="swift-header" style="color: #1b6bd7">Board Title</h4>
				<div class="ui-inputgroup">
					<input type="text" pInputText placeholder="Enter board title">
				</div>
			</section>

			<section>
				<h4 class="swift-header" style="color: #1b6bd7">Admins</h4>
				<div class="ui-inputgroup">
					<input type="text" pInputText placeholder="Enter name to add admin">
				</div>
			</section>
			<section>
				<h4 class="swift-header" style="color: #1b6bd7">Filter</h4>
				<p>The board Filter determines which issues appear on the board. It can be based on any queries created in SWIFT, or custom data returned from REST api.</p>
				<div class="ui-inputgroup">
					<input type="text" pInputText placeholder="Enter REST api URL">
				</div>
			</section>
		</p-tabPanel>
		<p-tabPanel header="Column">
			<div class="columns-wrapper flex-row" pDroppable="col-card" (onDrop)="drop($event)">
				<div class="column" *ngFor="let column of mockColumnConfig" pDraggable="col-card" dragHandle=".mdi-drag">
					<div class="icon-wrapper">
						<div class="drag-icon-wrapper"><i class="mdi mdi-drag"></i></div>
						<span class="spacing"></span>
						<i class="mdi mdi-delete"></i>
					</div>
					<div class="column-title">{{column.title}}</div>
					<div>
						<div class="status-card" *ngFor="let status of column.statuses">{{status}}</div>
					</div>
				</div>
				<div class="column unmapped-statuses">
					<div class="column-title">Unmapped Statuses</div>
					<div>
						<div class="status-card" *ngFor="let status of unmappedStatuses" pDraggable="dd">{{status}}</div>
					</div>
				</div>
			</div>

		</p-tabPanel>
		<p-tabPanel header="Swimlane">
			Placeholder for swimlane configuration.
		</p-tabPanel>
		<p-tabPanel header="Quick Filters">
			Placeholder for quick filters.
		</p-tabPanel>
	</p-tabView>
</div>
