/* Theme for angular material */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
}

.swift-header {
	color: #1b6bd7;
}
